* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(238, 245, 245);
}

#city {
  position: absolute;
  bottom: 100px;
  width: 470px;
  height: 200px;
  background-image: url(./image/city.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
#base {
  position: absolute;
  bottom: 0px;
  width: 470px;
  height: 100px;
  background-image: url(./image/base.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 21;
}
#bird {
  position: absolute;
  background-image: url(./image/bird.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30px;
  width: 38px;
  left: 80px;
  z-index: 20;
}

#pipeUp {
  position: absolute;
  background-image: url(./image/pipeup.png);
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 20;
}
#pipeDown {
  position: absolute;
  background-image: url(./image/pipedown.png);
  background-repeat: no-repeat;
  background-position: top;
  z-index: 20;
}

.btn {
  padding: 15px 30px;
  background-color: rgb(141, 133, 15);
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 10px;
}
.btn:hover {
  background-color: rgb(161, 153, 28);
  color: black;
}
.gameScreen {
  width: 470px;
  border: 3px solid rgb(6, 109, 75);
  background-color: rgb(119, 175, 197);
  margin: 10px auto;
  height: 570px;
  position: relative;
  overflow: hidden;
}
.menuStart,
.menuEnd {
  border-radius: 10px;
  margin: 100px auto;
  text-align: center;
  width: 470px;
  background-color: rgb(192, 180, 18);
  color: white;
  padding: 10px 0;
}

.score {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  color: rgb(221, 220, 207);
  left: 170px;
  height: 30px;
  z-index: 200;
}
.game {
  position: relative;
  height: 570px;
}
.remove {
  display: none;
}
