@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
/* header */
#header {
  background-color: #7dd9e8;
  height: 85px;
  width: 1002px;
}

.header-img {
  display: inline-block;
  margin-left: 32px;
  margin-top: 22px;
  margin-bottom: 26px;
  width: 222px;
  height: 36px;
}
.header-search {
  height: 20px;
  width: 336px;
  margin-left: 24px;
  top: 40px;
  display: inline-block;
  position: absolute;
}
.search {
  width: 276px;
  display: inline-block;
}

.header-search input {
  background: #caeff7;
  border: none;
  font-size: 10px;
  width: 224px;
  height: 20px;
  margin-left: 0px;
  position: absolute;
  display: inline-block;
}

.header-search-button {
  display: inline-block;
  position: absolute;
  height: 20px;
  background-color: #275056;
}
.header-search-button .btn {
  width: 37px;
  display: inline-block;
  color: #f5f5f5;
  font-size: 10px;
}
.button-right-corner {
  position: absolute;
}
.searchbar-img-right {
  background: no-repeat cover;
  float: right;
}
.searchbar-img-left {
  background: no-repeat cover;
  float: left;
}
.header-profile {
  float: right;
  margin-top: 28px;
  margin-right: 31px;
  color: #333335;
  font-weight: 600;
}
.header-profile .profile-name {
  float: right;
}
.header-profile .profile-settings {
  font-weight: 550;
  float: left;
}
/* header ends here */

/* navigation bar */
#navbar {
  height: 40px;
  width: 1002px;
  background: #f5f5f5;
}
.nav-item {
  float: left;
  margin: 15px 31px;
  font-weight: 600;
  font-size: 12px;
  color: #464646;
}
.notification-item {
  font-weight: 600;
  float: right;
  font-size: 12px;
  margin-top: 15px;
  margin-right: 30px;
}
/* main section */
#main {
  margin: 30px;
  width: 1002px;
}
.menu-left {
  float: left;
  height: 605px;
  background: #f5f5f5;
  width: 194px;
}
.menu-right {
  float: right;
  display: inline-block;
  height: 605px;
  width: 176px;
  margin-right: 60px;
  background: #f5f5f5;
}
.menu-center {
  height: 605px;
  width: 568px;
  background: #ffffff;
  display: inline-block;
  padding: 0 26px;
}

.menu-head {
  background-color: #2fc1da;
  height: 42px;
  padding: 15px 12px;
  color: #fffffb;
  margin-bottom: 10px;
  font-size: 18px;
}
.menu-item {
  height: 42px;
  color: #363636;
  padding-left: 11px;
}
/* main menu */

.menu-nav-item {
  height: 65px;
  width: 258px;
}

.menu-button {
  background: black;

  display: inline-block;
  margin: 0 9px;
  width: 112px;
  height: 26px;
}
/* menu content */
.content {
  height: 86px;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 15px;
}
.profile-img {
  float: left;
  margin-right: 9px;
}
.content-heading {
  font-weight: 600;
  margin-bottom: 6px;
}
.download-icon,
.icon {
  float: right;
  margin-right: 14px;
}
.topic-icon,
.profile-icon {
  float: left;
  margin-right: 10px;
}

/* menu div */
.menu-div {
  height: 67px;
  background: white;
  border-bottom: 2px solid #32bfda;
  margin-top: 11px;
}
.menu-subdiv {
  width: 258px;
  display: inline-block;
  height: 67px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  border-bottom: 2px solid #32bfda;
}
.menu-subdiv-2 {
  position: absolute;
  float: right;
  margin-left: 7px;
  top: 192px;
  width: 258px;
  display: inline-block;
  height: 67px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  border-bottom: 2px solid #32bfda;
}

.tab-container {
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-top: 14px;
  background: #dddddd;
  height: 26px;
  width: 114px;
}
.tab {
  display: inline-block;
  color: #313131;
  padding-top: 8px;
}
.tabb {
  padding-top: 8px;
}
/* footer */
#footer {
  height: 45px;
  width: 1002px;
  background-color: #727272;
  color: #c0c0c0;
}
.foot-item {
  float: left;
  margin-top: 15px;
  margin-left: 30px;
}

.copyright {
  float: right;
  margin-top: 15px;
  margin-right: 36px;
}
/* table */

.img-left {
  float: left;
}
.img-right {
  float: right;
}

/* main images */
.profile-pic-left {
  float: left;
  width: 10%;
}
.profile-pic-right {
  float: right;
  width: 12%;
}
.profile-pic {
  width: 70%;
  float: left;
}
.tab-left {
  float: left;
  margin-top: -10px;
}
.tab-right {
  float: right;
  margin-top: -21px;
  margin-right: -2px;
}
