* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 40px auto;
  position: relative;
}
.carousel-image-wrapper {
  height: 400px;
  position: relative;
  background-color: green;
}
img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
}
.active {
  background: white;
}
