@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
/* header */
.header-wrapper {
  width: 100%;
  background-color: #7dd9e8;
}
#header {
  background-color: #7dd9e8;
  height: 85px;
  width: 100%;
  /* margin-left: 220px; */
}

.header-img {
  display: inline-block;
  margin-left: 32px;
  margin-top: 22px;
  margin-bottom: 26px;
  width: 222px;
  height: 36px;
}
.active {
  color: white;
}
.navigation {
  width: 100px;
  position: absolute;
  top: 85px;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  width: 126px;
}
.menu {
  font-weight: bold;
  display: inline-block;
  width: 126px;
  margin: 6px auto;
  position: absolute;
  text-align: center;
  padding: 10px;
  background-color: #dddddd;
  color: #3c3c3c;
  left: 1px;
  top: -2px;
}
.menu ul {
  list-style: none;
  font-weight: lighter;
  display: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.menu:hover ul {
  display: block;
}
.menu ul li:first-child {
  border-top: 1px solid;
}
.menu ul li {
  padding: 10px;
  font-size: 11px;
}
.menu ul li:hover {
  background-color: #7dd9e8;
}
.menu ul li a {
  display: block;
  text-decoration: none;
  color: #fffffd;
}

.header-search {
  height: 20px;
  width: 336px;
  margin-left: 24px;
  top: -40px;
  display: inline-block;
  position: absolute;
  visibility: hidden;
}
.header-profile {
  float: right;
  margin-top: -70px;
  margin-right: 31px;
  color: #333335;
  font-weight: 600;
  visibility: hidden;
}

/* header ends here */

/* navigation bar */
.nav-wrapper {
  width: 100%;
  background-color: #f5f5f5;
}
#navbar {
  height: 40px;
  width: 100%;
  background: #f5f5f5;
}
.nav-item {
  float: left;
  margin: 15px 31px;
  font-weight: 600;
  font-size: 12px;
  color: #464646;
  display: none;
}
.notification-item {
  font-weight: 600;
  float: right;
  font-size: 12px;
  margin: 0 10px;
  margin-top: 15px;
}
/* main section */
#main {
  /* margin: 30px; */
  width: 100%;
  /* margin-left: 250px; */
}
.menu-left {
  float: left;
  height: 605px;
  background: #f5f5f5;
  width: 194px;
  display: none;
}
.menu-right {
  float: right;
  display: inline-block;
  height: 605px;
  width: 176px;
  margin-right: 60px;
  background: #f5f5f5;
  display: none;
}
.menu-center {
  height: 605px;
  width: 100%;
  background: #ffffff;
  display: inline-block;
  padding: 0 10px;
}

.menu-head {
  background-color: #2fc1da;
  height: 42px;
  padding: 15px 12px;
  color: #fffffb;
  margin-bottom: 10px;
  font-size: 18px;
}
.menu-item {
  height: 42px;
  color: #363636;
  padding-left: 11px;
}
/* main menu */

.menu-nav-item {
  height: 65px;
  width: 258px;
}

.menu-button {
  background: black;

  display: inline-block;
  margin: 0 9px;
  width: 112px;
  height: 26px;
}
/* menu content */
.content-wrapper {
  margin-top: 100px;
}
.content {
  height: 86px;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 15px;
}
.profile-img {
  float: left;
  margin-right: 9px;
}
.content-heading {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 1.2rem;
}
.download-icon,
.icon {
  float: right;
  margin-right: 14px;
}
.topic-icon,
.profile-icon {
  float: left;
  margin-right: 10px;
}

/* menu div */
.menu-div {
  height: 67px;
  background: white;
  border-bottom: 2px solid #32bfda;
  margin-top: 11px;
}
.menu-subdiv {
  width: 100%;
  display: inline-block;
  height: 67px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  border-bottom: 2px solid #32bfda;
}
.menu-subdiv a {
  text-decoration: none;
  color: #5b5b5b;
}
.menu-subdiv-2 {
  float: left;
  margin-left: 7px;
  margin-top: 20px;
  top: 250px;
  width: 100%;
  display: block;
  height: 67px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  border-bottom: 2px solid #32bfda;
}

.tab-container {
  display: inline-block;
  float: left;
  margin-left: 70px;
  margin-top: 14px;
  background: #dddddd;
  height: 26px;
  width: 114px;
}
.tab {
  display: inline-block;
  color: #313131;
  padding-top: 8px;
}
.tabb {
  padding-top: 8px;
}
/* footer */
#footer {
  height: 45px;
  width: 100%;
  background-color: #727272;
  color: #c0c0c0;
}
.footer-wrapper {
  width: 100%;
  background-color: #727272;
  margin-top: 50px;
}
.foot-item {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 800;
}

.copyright {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}
/* table */

.img-left {
  float: left;
}
.img-right {
  float: right;
}

/* main images */
.profile-pic-left {
  float: left;
  width: 10%;
}
.profile-pic-right {
  float: right;
  width: 12%;
}
.profile-pic {
  width: 70%;
  float: left;
}
.tab-left {
  float: left;
  margin-top: -10px;
}
.tab-right {
  float: right;
  margin-top: -21px;
  margin-right: -2px;
}
.blue-container {
  background-color: #2fc1da;
  color: white;
}

@media (min-width: 600px) {
  .header-wrapper {
    width: 100%;
    background-color: #7dd9e8;
  }
  .nav-wrapper {
    display: inherit;
  }
  #header {
    background-color: #7dd9e8;
    height: 85px;
    width: 100%;
  }

  .header-img {
    display: inline-block;
    margin-left: 32px;
    margin-top: 22px;
    margin-bottom: 26px;
    width: 222px;
    height: 36px;
  }
  .menu-rightt {
    display: block;
  }
  .menu {
    display: none;
  }

  .header-search {
    height: 20px;
    width: 336px;
    margin-left: 24px;
    top: 40px;
    display: inline-block;
    position: absolute;
    visibility: inherit;
  }
  .search {
    width: 65%;
    display: inline-block;
  }

  .header-search input {
    background: #caeff7;
    border: none;
    font-size: 10px;
    width: 50%;
    height: 20px;
    margin-left: 0px;
    position: absolute;
    display: inline-block;
  }

  .header-search-button {
    display: inline-block;
    position: absolute;
    height: 20px;
    background-color: #275056;
  }
  .header-search-button .btn {
    width: 37px;
    display: inline-block;
    color: #f5f5f5;
    font-size: 10px;
  }
  .button-right-corner {
    position: absolute;
  }
  .searchbar-img-right {
    position: absolute;
    background: no-repeat cover;
    float: right;
    margin-left: 175px;
  }
  .searchbar-img-left {
    background: no-repeat cover;
    float: left;
  }
  .header-profile {
    float: right;
    margin-top: 28px;
    margin-right: 31px;
    color: #333335;
    font-weight: 600;
  }
  .header-profile .profile-name {
    float: right;
  }
  .header-profile .profile-settings {
    font-weight: 550;
    float: left;
  }
  .active {
    color: white;
  }
  .blue-container {
    background-color: #2fc1da;
  }
  .navigation {
    width: 100px;
    position: absolute;
    top: 85px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
    width: 126px;
  }
}

/* responsive for tablet*/
@media (min-width: 768px) {
  .header-wrapper {
    width: 100%;
    background-color: #7dd9e8;
  }

  #header {
    background-color: #7dd9e8;
    height: 85px;
    width: 100%;
  }
  .header-img {
    display: inline-block;
    margin-left: 32px;
    margin-top: 22px;
    margin-bottom: 26px;
    width: 222px;
    height: 36px;
  }
  .header-search {
    height: 20px;
    width: 336px;
    margin-left: 24px;
    top: 40px;
    display: inline-block;
    position: absolute;
  }
  .search {
    width: 216px;
    display: inline-block;
  }

  .header-search input {
    background: #caeff7;
    border: none;
    font-size: 10px;
    width: 167px;
    height: 20px;
    margin-left: 0px;
    position: absolute;
    display: inline-block;
  }

  .header-search-button {
    display: inline-block;
    position: absolute;
    height: 20px;
    background-color: #275056;
  }
  .header-search-button .btn {
    width: 37px;
    display: inline-block;
    color: #f5f5f5;
    font-size: 10px;
  }
  .button-right-corner {
    position: absolute;
  }
  .searchbar-img-right {
    background: no-repeat cover;
    float: right;
    visibility: inherit;
  }
  .searchbar-img-left {
    background: no-repeat cover;
    float: left;
  }
  .menu-center {
    height: 605px;
    width: 65%;
    background: #ffffff;
    display: inline-block;
    padding: 0 10px;
  }
  .menu-right {
    float: right;
    display: inline-block;
    height: 605px;
    width: 25%;
    margin-right: 60px;
    background: #f5f5f5;
    display: inherit;
    margin-top: 35px;
  }
  .navbar {
    width: 20%;
  }
  .nav-item {
    display: inherit;
    margin: 10px 15px;
  }
  .tab-container {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 14px;
    background: #dddddd;
    height: 26px;
    width: 114px;
    margin-left: 80px;
  }
  .tab {
    display: inline-block;
    color: #313131;
    padding-top: 8px;
  }
  #footer {
    margin: 0 30px;
  }
  .copyright {
    margin-right: 30px;
  }
  .header-profile {
    float: right;
    margin-top: 28px;
    margin-right: 0px;
    color: #333335;
    font-weight: 600;
    visibility: inherit;
  }
  .header-profile .profile-name {
    float: right;
  }
  .header-profile .profile-settings {
    font-weight: 550;
    float: left;
  }
  .active {
    color: white;
  }
  .blue-container {
    background-color: #2fc1da;
  }
}

@media (min-width: 992px) {
  body {
    background-color: white;
  }
  .header-wrapper {
    width: 100%;
    background: #7dd9e8;
  }
  #header {
    background-color: #7dd9e8;
    height: 85px;
    width: 72%;
    margin-left: 180px;
  }
  .header-search {
    height: 20px;
    width: 336px;
    margin-left: 24px;
    top: 40px;
    display: inline-block;
    position: absolute;
  }
  .search {
    width: 216px;
    display: inline-block;
  }

  .header-search input {
    background: #caeff7;
    border: none;
    font-size: 10px;
    width: 167px;
    height: 20px;
    position: absolute;
    display: inline-block;
  }

  .header-search-button {
    display: inline-block;
    position: absolute;
    height: 20px;
    background-color: #275056;
  }
  .header-search-button .btn {
    width: 37px;
    display: inline-block;
    color: #f5f5f5;
    font-size: 10px;
  }
  .button-right-corner {
    position: absolute;
  }
  .searchbar-img-right {
    background: no-repeat cover;
    float: right;
    position: absolute;
    visibility: inherit;
  }
  .searchbar-img-left {
    background: no-repeat cover;
    float: left;
  }
  #navbar {
    height: 40px;
    width: 72%;
    background: #f5f5f5;
    margin-left: 180px;
  }
  .nav-item {
    float: left;
    margin: 15px 11px;
    font-weight: 600;
    font-size: 12px;
    color: #464646;
    display: inherit;
  }
  .main-wrapper {
    margin: 0 80px;
    margin-left: 180px;
    width: 100%;
  }
  #main {
    margin-top: 20px;
    width: 100%;
  }
  .menu-left {
    float: left;
    height: 605px;
    background: #f5f5f5;
    width: 15%;
    display: inline-block;
    margin-right: 30px;
  }
  .menu-right {
    float: right;
    height: 605px;
    width: 12%;
    margin-right: 190px;
    background: #f5f5f5;
    margin-top: -2px;
  }
  .menu-center {
    height: 605px;
    width: 42%;
    background: #ffffff;
    display: inline-block;
    padding: 0 26px;
    margin-left: -20px;
    clear: both;
  }

  .menu-div {
    height: 67px;
    background: white;
    border-bottom: 2px solid #32bfda;
    margin-top: 11px;
    width: 100%;
  }

  .menu-subdiv {
    float: left;
    width: 49%;
    height: 67px;
    background: #f5f5f5;
    text-align: center;
    padding-top: 10px;
    border-bottom: 2px solid #32bfda;
    margin-left: 2px;
  }
  .menu-subdiv a {
    text-decoration: none;
    color: #5b5b5b;
  }

  .tab-container {
    float: left;
    margin-left: 10px;
    margin-top: 14px;
    background: #dddddd;
    height: 26px;
    width: 114px;
  }
  .tab {
    display: inline-block;
    color: #313131;
    padding-top: 8px;
  }
  .tabb {
    padding-top: 8px;
  }
  #footer {
    width: 70%;
    margin-left: 180px;
  }
  .copyright {
    font-weight: 800;
  }
  .tab-right {
    float: right;
    margin-top: -28px;
    margin-right: -2px;
  }
  .content-wrapper {
    clear: both;
    margin-top: -2px;
  }
  .active {
    color: white;
  }
  .blue-container {
    background-color: #2fc1da;
  }
}
